@font-face {
  font-family: "iconfont"; /* Project id 2733876 */
  src: url('//at.alicdn.com/t/font_2733876_26i9367mac8.woff2?t=1628564143148') format('woff2'),
       url('//at.alicdn.com/t/font_2733876_26i9367mac8.woff?t=1628564143148') format('woff'),
       url('//at.alicdn.com/t/font_2733876_26i9367mac8.ttf?t=1628564143148') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-wangyiyunyinle:before {
  content: "\e611";
}
.icon-musiccloud:before {
  content: "\e600";
}
.icon-musiccloud:hover {
}

